/* Nedanstånede kod hämtad från: http://viralpatel.net/blogs/css-radio-button-checkbox-background/
*/

div + p {
     color: red;
} 

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    margin:10px;
}

/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    display:inline-block;
    margin: 1px;
    padding: 4px 12px;
    background-color: #8ed1f2;
    
    border-color: #f5f6fa;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label { 
   background-image: none;
    background-color:#379cce;
}
input[type=radio] {
		display:none;
	}

	input[type=radio] + label {
		display:inline-block;
		margin:2px;
		padding: 4px 12px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 20px;
		color: #333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
		background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
		background-image: -o-linear-gradient(top,#fff,#e6e6e6);
		background-image: linear-gradient(to bottom,#fff,#e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #ccc;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		border-bottom-color: #b3b3b3;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	}

	input[type=radio]:checked + label {
		   background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
			background-color:#e0e0e0;
	}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=checkbox] {
    display:none; 
    margin:10px;
}

/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=checkbox] + label {
    display:inline-block;
    margin: 1px;
    padding: 4px 12px;
    background-color: #8ed1f2;
    
    border-color: #f5f6fa;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=checkbox]:checked + label { 
   background-image: none;
    background-color:#379cce;
}
input[type=checkbox] {
		display:none;
	}

	input[type=checkbox] + label {
		display:inline-block;
		margin:2px;
		padding: 4px 12px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 20px;
		color: #333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
		background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
		background-image: -o-linear-gradient(top,#fff,#e6e6e6);
		background-image: linear-gradient(to bottom,#fff,#e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #ccc;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		border-bottom-color: #b3b3b3;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	}

	input[type=checkbox]:checked + label {
		   background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
			background-color:#e0e0e0;
	}
/*
Här bygger jag boxarna för profilerna efter tasken
*/


/*
Här börjar orginalskriptet OBS!
*/
body { 
  padding-top: 30px;  
}

.container {
	width: 800px;
} 

.tophalf {
	margin-bottom: 0px !important;
    background-color: #ffffff;
	border: 1px solid #d5d7e0;
	padding: 15px;	
}

.entry {
	width: 240px;
	float: left;
	margin: 10px;
}
/*
De nedan är mina egna! (allt med append-1)
*/
div.last_continue {
  position:relative;
  float:right;
  margin-right: 100px;
	margin-top: 20;
}
#submit_after_profiles {
  position:relative;
  float:right;
  margin-right: 30px;
	margin-top: 10;
}

div.main1 {
  width: 610px !important;
  margin-left: -16px;
  margin-top: 3px;
	margin-bottom: -10px !important;
}


.entry1 {
	width: 650px;
	float: left;
	margin: 10px;
}
.tophalf1 {
	margin-bottom: 0px !important;
    background-color: #ffffff;
	border: 1px solid #d5d7e0;
	padding: 15px;	
}

.tophalf1 img {
	float: left;
}

.tophalf1 .main1 {
	float: left;
	width: 120px;
	font-size: 9pt;
	text-align: left;
	padding-left: 15px; /* text to avatar distance */
}

.tophalf1 h3 {
	color: #3B5999;
  font-variant: normal;
	font-size: 20px;
	text-transform:capitalize;
  margin-left: 85px;
  padding-left: 0px;
  margin-top: 35px;
  margin-bottom: 0;
}

div.main {
  width: 210px !important;
  margin-left: -16px;
  margin-top: 3px;
	margin-bottom: -10px !important;
}

img.avatar {
    width: 75px;
    height: 75px;
}

#avatar .avatar {
	margin: 15px;
}

.tophalf img {
	float: left;
}

.tophalf .main {
	float: left;
	width: 120px;
	font-size: 9pt;
	text-align: left;
	padding-left: 15px; /* text to avatar distance */
}

.tophalf h3 {
	color: #3B5999;
  font-variant: normal;
	font-size: 20px;
	text-transform:capitalize;
  margin-left: 85px;
  padding-left: 0px;
  margin-top: 35px;
  margin-bottom: 0;
}

div.masonry {
    width: 850px;
}


.bottomhalf {
	clear: both;
	color: #3B5999;
	height: 15px;
	background-color: #f5f6fa;
	border: 1px solid #d5d7e0;	
	padding: 5px;
	padding-bottom: 8px !important;
	border-top: none;
}

.btn-like {
    padding: 0;
	margin-top: -2px;
}

button.btn {
    padding: 0;
}

button.btn.btn-primary {
    padding: 3px;
	color: #ffffff !important;
}

.badge-custom {
    background-color: #5c6069;
    color: #ffd75e;
    font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    padding-top: 4px;
}

 html body {
    color: #000000;
    background-color: #ebedf5;
}
#continue {
    margin-top: 20px;
    padding: 4px;
}

#continue1 {
    margin-top: 20px;
    padding: 4px;
}

span.badge.badge-custom.userslikes {
    color: #5cff26 !important;
}


.btn.disabled,
.btn[disabled] {
	z-index: 1; 
}

/*
 * via http://charliepark.org/bootstrap_buttons/
 */ 
.btn-custom {
  background-color: hsl(195, 60%, 35%) !important;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3B5999", endColorstr="#3B5999");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3B5999), to(#3B5999));
  background-image: -moz-linear-gradient(top, #3B5999, #3B5999);
  background-image: -ms-linear-gradient(top, #3B5999, #3B5999);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3B5999), color-stop(100%, #3B5999));
  background-image: -webkit-linear-gradient(top, #3B5999, #3B5999);
  background-image: -o-linear-gradient(top, #3B5999, #3B5999);
  background-image: linear-gradient(#3B5999, #3B5999);
  border-color: #3B5999 #3B5999 hsl(195, 60%, 32.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
}

.btn-deround {
   border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;	
}

.lined {
    overflow: hidden;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #ccc;
}
.lined:before,
.lined:after {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.lined:before {
    right: 0.5em;
    margin-left: -50%;
}
.lined:after {
    left: 0.5em;
    margin-right: -50%;
}

#sticky {
    background-color: #ebedf5;
	position:fixed; 
	top:0; 
	width: 700px;
	padding-top: 20px; 
	padding-bottom: 0px;
	z-index: 999999;
}

.instr {
    padding-left: 100px;
    padding-top: 100px;
}

#others {
	margin-top: 260px;
}

.avatar {
	border-radius: 8px;
	cursor: pointer;	
	width: 100px;
	height: 100px;
	border: 1px solid #94969c;
}

#submit_avatar {
  float: right;
  margin-right: 85px;
  padding: 10px;
  padding-left:15px;
  padding-right:15px;
}

img.avatar.selected {
  border-color: #1a1a1a;
  border-width: 5px;
  border-style: solid;
	margin: 11px !important;
}

.load{
  margin-left: 80px;
}

#description {
	width: 500px !important;
	height: 100px !important;
	max-height: 100px !important;
}

#username {
	width: 500px;
	height: 30px;
}

span.cntr.label.label-info {
    color: #ffffff;
    background-color: #707070;
}

#countdown {
	position: relative;
	float:right;
	width: 75px;
	padding-right: -50px;
	top: 40px;
	text-align:left; 
  color: #858585;	
}

#countdown1 {
	position: relative;
	float:right;
	width: 75px;
	padding-right: -50px;
	top: 40px;
	text-align:left; 
  color: #858585;	
}



